html{
    scroll-behavior: smooth;
    margin: 0px;
}

*{
    margin:0;
    padding:0;
    border:0;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

header{
    /* border: 3px solid black; */
    position: fixed;
    height: 14%;
    width: 100%;
    
    background-color: rgb(228, 233, 240);
    border-bottom: 1px solid black;
}

#divheader{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100px;
    
}

.form:hover{
    background-color: rgb(190, 187, 187);
}

#links{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    width: 70%;
}

.form{
    background-color: rgba(165, 42, 42, 0);
    border-radius: 5px;
    width: 150px;
    /* margin-left: 10px;
    margin-right: 30px; */
    font-size: 18px;
    text-align: center;
}

.semsub{
    text-decoration: none;
}

a{
    color: inherit; 
} 

#nomeprincipal{
    font-size: 25px;
    margin-left: 20px;
    width: 400px;
}

#imagemfundo{
    height: 600px;
    width: 100%;
    background-image: url("imagem/fundo_2.jpg");
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}

#blocoprincipal{
    background-color: rgb(228, 233, 240);
    height: 450px;
    width: 50%;
    align-items: left;
    display: grid;
    justify-content: center;
    grid-template-columns:45% 55% ;
    grid-template-rows: repeat(auto-fill, 70%);
    /* flex-direction: row; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px 5px 15px rgb(73, 72, 72);
}

#foto{
    height: 450px;
    width: 100%;
    border-top-left-radius: 20px;
}

#camada2{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#camada3{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    line-height: 0;
    padding-top: 60px;
}

.forma{
    margin: 15px;
}

h4{
    margin-bottom: 5px;
}

@font-face {
    font-family: principal;
    src: url(fonte/avenir-arabic-light.otf)
}

body{
    color: rgb(5, 42, 69);
    font-family: principal;
    width: 100%;
}


#block1{
    height: 450px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
}

#block2{
    height: 70px;
    width: 50%;
    background-color: rgb(5, 42, 69) ;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    box-shadow: 5px 5px 15px rgb(73, 72, 72);

}

#espaca{
    width: 42%;
}

#espaco{
    width: 3%;
}

#linkedin{
    border-radius: 10px;
    width: 35px;
}

#linkedin:hover{
    background-color: rgb(20, 39, 164);
}

#insta{
    border-radius: 10px;
    width: 35px;
}

#insta:hover{
    background-color: rgb(184, 5, 160);
}

#textintrodutorio{
    text-align: center;
    font-size: 17px;
    justify-content: center;
    padding-top: 40px;
}

#boxex{
    justify-content: center;
    width: 100%;
    font-size: 30px;
    height: 100px;
    border-bottom: 1px solid grey;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: rgb(228, 224, 224);
    border-top: 1px solid grey;
}

#experiencias{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#boxfor{
    justify-content: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: rgb(228, 224, 224);
}

#formacao{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

#boxhab{
    justify-content: center;
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: rgb(5, 42, 69);
    color: white;
}

#qualificacoes{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url("imagem/fundo_2.jpg");
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

#tablequa{
    font-size: 25px;
    height: 200px;
    
}

.formatacao{
    width: 500px;
    padding-left: 20px;
    height: 70px;
    opacity: 1;
    border-radius: 10px;
    background-color: rgba(197, 201, 206, 0.5);
}

.espacamentotable{
    width: 200px;
    height: 50px;
}

#boxinfo{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: rgb(228, 224, 224);
}

#infoadicionais{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

@media (max-width: 600px) {

    header{
        width: 100%;
        height: 10%;
        position: fixed;
    }

    #divheader{
        height: 100%;
        align-items: center;
    }

    #nomeprincipal{
        font-size: 0px;
        color: transparent;
    }

    #links{
        margin-right: 5%;
    }

    .form{
        font-size: 12px;
        width: 100%;
        margin-right: 2px;
        margin-right: 5%;
    }

    #blocoprincipal{
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    #foto{
        height: 50%;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -10%;
    }

    #camada2{
        height: 50%;
    }

    #camada3{
        font-size: 11px;
        line-height: 0;
        width: 100%;
        height: 100%;
        padding: 0%;
    }

    #block2{
        align-items: center;
        padding-left: -40px;
    }

    .forma{
        margin-bottom: 1%;
    }

    #block2{
        width: 70%;
    }

    #espaca{
        width: 35%;
    }

    #insta{
        width: 100%;
    }

    #linkedin{
        width: 100%;
    }

    #textintrodutorio{
       padding: 0%;
    }

    #block1{
        height: 90%;
    }

    #tablequa{
        font-size: 15px;
    }

    #tableinfo{
        font-size: 12px;
    }
    
}
